/* OVERRIDE CSS - 20120330 */


/* OVERRIDE */

div#logo
{
    position: relative;
    top: 1px; 26px;
    left: -10px;
    top: -14px;
}

div#usermenu {
    display:none;
}

body {
font-family: Tahoma, Arial, Helvetica, sans-serif;
background-image: none;
/*
   background-image: url(images/bg.jpg);
   background-repeat: repeat-x;
*/
}

div.pagenavigator {
font-size: 14px;
font-weight: bold;
text-align: center;
clear: both;
}

div.border-box {
margin-bottom: 1em;
/* width: 60%; */
}


/* div#maincontent div.content-view-full div.class-blog-post div.attribute-url { */
div.attribute-url {
background-color: #F4F4F4;
font-size: 10px;
height: 16px;
margin-top: 15px;
padding-top: 8px;
padding-left: 10px;
padding-bottom: 8px;
margin-bottom: 24px;
}

div.attribute-body {
margin-top: 15px;

}

div#footer {
margin-top: 0;
background-image: none;
height: 40px;
color: white;
padding-top: 44px;
}

div#footer address {
color: black;
font-style: normal;
}
div#footer a {
color: black;
font-style: normal;
}

div#header {
  background-color: #ffffff;
  background-image:none;
  border-bottom-color:#F2F3F5;
  border-bottom-style:solid;
  border-bottom-width:1px;
  height:117px;
  padding-bottom:0;
  padding-left:0;
  padding-right:0;
  padding-top:0;
}

div#searchbox {
  padding-top:39px;
}

input#searchtext {
border: 1px solid #000000;
padding: 1px 3px 1px 3px;
}

input#searchbutton {
background-color: #000000;
border: 1px solid #000000;
background-image: none;
color: white;
font-family: Tahoma, Arial, Helvetica, sans-serif;
font-size: 10px;
cursor: pointer;
}

div#topmenu ul {
background-image: none;
color:#F2F3F5;
}

div#topmenu ul li {
background-image:none;
color:black;
}

div#topmenu {
margin: 0;
padding: 0 0.25em 0 0.2em;
background-color: white;
}

div#topmenu ul li.selected a {
background-image: none;
background-position: top left;
background-repeat: repeat-x;
margin: 0 1px 0 0;
padding-bottom: 0;
border-bottom: none;
color:#f8981d; /* lightgrey; */
}

div#topmenu ul li.selected {
background-image: none;
background-position: right top;
background-repeat: no-repeat;
padding-right: 2px;
}

a {
/* color: #D03030; */
color: #f8981d;
text-decoration: none;
}

div.attribute-header h1 {
padding-bottom: 7px;
}

ul, ol {
margin: 0 0 1em 1em; /* 0.75em 0 1em 2.5em; */
padding: 0;
}

div#page {
border-left: 1px solid #ffffff;
border-right: 1px solid #ffffff;
background-color: white;
}

div#path {
padding: 1em 0em 0em 1em;
margin-bottom: 0.5em;
}

input.button, input.defaultbutton {
background-color: #F2F3F5;
background-image: url(images/button_bg.jpg);
background-repeat: repeat-x;
border: 1px solid #C1C9CC;
color: #000000;
font-family: Tahoma,Arial,Helvetica,sans-serif;
font-size: 11px;
text-align: center;
vertical-align: middle;
}

div.content-view-full div.class-frontpage div.columns-frontpage div.right-column-position {
width: 246px;
margin-right: -231px;
float: right;
}

div#page {
width: 820px;
margin: 0 auto 0 auto;
text-align: left;
}


# end